<div class="content-small">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        New User
      </div>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
  <%= link_to 'Back', users_path, class: "btn btn-primary" %>
</div>
