<% provide(:title, "Edit Key") %>
<div class="content-small">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Edit Key
      </div>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
